@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-75;
}

@layer base {
  html {
    font-family: "Roboto Condensed", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

body {
  width: 100%;
  height: 100%;
}

.logo {
  font-family: "Mochiy Pop One", system-ui;
}

/* Sidebar */

.sidebar a:hover {
  color: #1acae6;
}

.sidebar a.active {
  color: #0799b9;
}

/* Carousel */

.carousel .img {
  background-size: cover;
  background-position: top center;

  width: 100%;
  height: 642px;
}

.carousel .img1 {
  background-image: url("assets/CarouselImg1.webp");
}

.carousel .img2 {
  background-image: url("assets/CarouselImg2.webp");
}

.carousel .img3 {
  background-image: url("assets/CarouselImg3.webp");
}

@media screen and (max-width: 720px) {
  .carousel .img1 {
    background-image: url("assets/CarouselImg_mobile1.webp");
  }

  .carousel .img2 {
    background-image: url("assets/CarouselImg_mobile2.webp");
  }

  .carousel .img3 {
    background-image: url("assets/CarouselImg_mobile3.webp");
  }
}

.carousel .slick-dots {
  bottom: 10px;
}

.carousel .slick-prev,
.carousel .slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel .slick-prev {
  left: 20px;
}

.carousel .slick-next {
  right: 20px;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
  font-size: 30px;
  color: black;
}

/* Newsletter Animation */

.newsletter-alert {
  animation: slidedown 0.5s ease-in-out;
}

@keyframes slidedown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}